/* General Styling */

body {
    margin: 0px;
    padding:0px;
    background-image: url("wallpaper.jpg");
    background-size: cover;
}

.header {
    /* border-color: black;
    border-style: dashed; */
    margin: 10px 10px 10px 10px;
    text-align: center;
    font-size: 2em;
}

/* Container Styling */

.gridcontainer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
}

.emptyleft {
    /* border-color: black;
    border-style: dashed; */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}

.emptyright {
    /* border-color: black;
    border-style: dashed; */
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.celldivider {
    /* border-style: dashed;
    border-width: 2px; */
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 2em;
    margin: 15px 0px 15px 0px;
}

#date {
    /* border-color: black;
    border-style: dashed; */
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 10px 0px 10px 0px;
    font-size: 5em;
    text-align: center;
}

#time {
    /* border-color: black;
    border-style: dashed; */
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 10px 0px 10px 0px;
    font-size: 7em;
    text-align: center;
}

